.card {
    border: 1px black solid;
    height: 80px;
    width: 60px;
    margin: 10px
}

.facedown {
    background-color: blue;
}

.container {
    display: flex;
}

.card-deck-stack {
    display: grid;
}

.card-deck-stack > * {
    grid-row: 1;
    grid-column: 1;
}